@CHARSET "ISO-8859-1";

div.ui-footer.ui-bar-inherit {
	background-color: #3C3C3C;
	text-align:center;
	padding-top:10px; 
	padding-bottom:10px;
	font-size:12px;
}
[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;} 